body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home, .list, .m{
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.page, .mystery {
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.mystery p{
    color: white;
}

.page button {
    border: none;
    background-color: lightblue;
    color: purple;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 12px;
    border-radius: 16px;
}

.quiz {
    height: 100vh;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.hint{
    border: none;
    background-color: lightblue;
    color: purple;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 12px;
    border-radius: 16px;
}

.quiz form{
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

.pass{
    padding: 8px;
    outline: none;
    color: purple;
    border: none;
    background-color: lightblue;
    border-radius: 8px;
}

.trip {
    height: auto;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.trip img, video{
    height: 200px;
}

.home .list .m, h1{
    margin: 0;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

button{
    border: none;
    background-color: lightblue;
    color: purple;
    cursor: pointer;
    font-size: 50px;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 12px;
    border-radius: 16px;
}

.home .list, button:hover {
    opacity: 0.75;
}

.home p{
    color: white;
}

.list a {
    text-decoration: none;
}

.list span{
    display: flex;
    gap: 50px;
}

.m pre{
    color: white;
    font-size: 24px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}